 


.html{
  height:100%;
}
.search{
  width: 100%;
  display:flex ;
  justify-content:center ;
  padding:20px 0 ;
}
.search input{
  padding:10px ;
  border-radius: 5px;

}
.search button{
  background-color: springgreen;
  border-color: springgreen;
  border-radius: 4px;
}
.search button :disabled {
  background-color: springgreen;
  border-color: springgreen;
  border-radius: 4px;
  margin-left: 20px;
  font-size: 18px;
  color:black;
  opacity: 0.6;

}
.movieList{
  display: grid;
  grid-template-columns:repeat(4, 1fr) ;
  gap: 2rem;
}
.movieList div{
height: auto;
}
.noMovie{
  justify-content: center;
  width: 100%;
  font-size: 25px;
  display: flex;

}
.movieList> div > img {
width: 100%;
height: 400px;
}
.movieList> div > p{
color: white;
font-size: 18px;
}